.display-product{
    display:grid;
    grid-template-columns: 40% 60%;
    border:3px solid;
    max-width: 80%;
    margin: 3em auto;
    border-radius: 10px;
}
.product-info{
    border-right: 3px solid;
    padding: 1.2em;
}
.product-info h2{
    text-align: justify;
    margin-top: 20px;
}
.price{
    display: inline-block;
    margin: 0 7em;
}
.description h3{
    text-decoration: underline;
    font-size: 1.35em;
    margin-bottom: -0.8em;
}
.description{
    padding: 1.2em;
    text-align: justify;
}
pre{
    white-space: pre-wrap;
    font-size: 1.1em;
    line-height: 1.8em;
}
